
.nb
{
    background-color:#f8f9fa;
    
}
.rr{
    margin:auto;
}
.th{
    padding: .75rem;
}
.pt{
    padding: .75rem;
}
.top{
    border: none;
    background-color: #fff;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    margin-right:auto;
    margin-left:auto;
}
.form-control{
    width:50%;
    position: abolute;
    display: flex;
	margin-left:auto;
	margin-right:auto;
}
.con1{
    width: 100%;
}
@media(min-width:540px){.top{width: 100%;}}
@media(min-width:641px){.top{width: 100%;}}
@media(min-width:961px){.top{width: 100%;}}
.toplist{
    position:absolute;
    padding-top: 30px;
}
.view{
    text-decoration: none;
    text-align: center;
}
.card1{
    background-color: #f3f3f3;
    
}

table {
	background-color:#fff;
    width:100%;
}
table tr:nth-child(even) {
    background-color: #eee;}
table tr:nth-child(odd) {
background-color: #fff;}
table, th, td {
	border-collapse:collapse;
    margin:20px;
	height:70px;
	padding:50px;
}
th, td {
	margin:20px;
    padding: 50px;
	height:70px;
	font-size:20px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
